packages:
  yum:
    mod24_ssl: []

files:
  "/etc/httpd/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        ServerName localhost
        DocumentRoot /var/www/html
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/private/server.key"
      </VirtualHost>

  "/etc/httpd/conf.d/http-redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        ServerName localhost
        RewriteEngine On
        RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
      </VirtualHost>

container_commands:
  01_create_cert_dir:
    command: "mkdir -p /etc/pki/tls/private"
  
  02_create_self_signed_cert:
    command: "openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/pki/tls/private/server.key -out /etc/pki/tls/certs/server.crt -subj '/C=US/ST=California/L=Northridge/O=CSUN/OU=CIT270/CN=coffee-shop-terra-app.linkpc.net'"
    
  03_restart_apache:
    command: "service httpd restart || true"
